.main {
    .casio {
        margin: 0 auto;
        width: 30%;    
        .grid {  
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: auto;
            grid-gap: 10;
            .item {
              padding: .5rem;
              text-align: center;
              button {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                .title {
                  border-bottom: 1px solid #333;
                  padding-bottom: 2em;
                }
              }
            }
        }
        .screen {
          min-width: 19rem;
            height: 3rem;
            border: 4px solid #000;
            border-radius: 8px;
            line-height: 2.5rem;
            padding-right: .5em;
            text-align: right;
            color: #000;
            font-weight: bold;
        }
    }
}